body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* addition */
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /* addition */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  height: auto;
  background: royalblue;
  box-sizing: border-box;
  /* addition */
  display: flex;
  flex: 0 0 300px;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /* addition */
  padding: 16px;
  /* display: flex; */
  /* flex-direction: row; */
  width: 300px;
  height: 150px;
}

/* addition */

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  margin: 48px;
}

ul {
  list-style-type: none;

}