body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}
div {
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;

}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 10px;
  font-weight: 700;

}

.content {
  background: #e3f4ff;
  padding: 10px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px;
}